table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid darkgray;
    table-layout: fixed;
  }
th, td {
    border: 1px solid #ddd;
    padding: 2.5%;
    text-align: center;
    font-size: 1em;
}
th {
    background-color: #f2f2f2;
}
#exchangeTable th, #exchangeTable td {
    padding: 1%;
  }
select#weight {
    border: 2px solid #555;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #555;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
}
#container1 {
    display: flex;
    align-items: center;
}
#container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#exchangeTable {
    width: 80%;
    margin: auto;
    display: none;
}
input {
    width: 80%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1em;
}
#toggleText {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}