
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid darkgray;
}

th, td {
  border: 1px solid #ddd;
  padding: 1.5%;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
button {
  cursor: pointer;
  margin: auto;
  display: block;
  font-size: 1em;
}
#buttonDel {
  border: 1px solid #555;
  border-radius: 20px;
}

#buttonDel:hover {
  background-color: red;
}

#buttonAdd {
  margin-top: 5px;
  border: 2px solid #555;
  border-radius: 20px;
  color: #555;
  padding: 1% 6%;
  text-decoration: none;
}

#courseList{
  width: 95%;
  margin: auto;
}

#gpa {
  font-size: 1.15em;
  font-weight: bold;
  margin-left: 5px;
  padding-bottom: 5px;
}

.pad {
  padding: 10px 10px;
  font-size: 1em;
  
}
input {
  margin-left: 5%;
  width: 40%;
  border: 2px solid #555;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #555;
}

.name {
  padding-bottom: 5px;
}

select#credits {
  border: 2px solid #555;
	width: 20%;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #555;
  }
select#grade {
  border: 2px solid #555;
  width: 28%;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #555;
  }
